@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css');

body {
  background-color: #0D1B2A !important;
  
}

.landing-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  color: #ccc;
}

.landing-head{
  background-color: #0D1B2A;
  color: #ccc;
  padding: 20px;
  margin-bottom: 20px;
  text-align: center;
  justify-content: center;
  width: 80%;
}
.landing-main {
  background-color: #0D1B2A;
  color: #ccc;
  padding: 20px;
  margin-bottom: 20px;
  text-align: center;
  justify-content: center;
  width: 50%;
  
}
.features-cont{
  background-color: #1B263B;
    color: #ccc;
    border-radius: 5px !important;
    border-color: #151e2e !important;
    border-style: solid;
    width: 100%;
    display: flex;
    justify-content: center;
}

.features{
    width: 75%;
    
}
.features-top {
  padding: 20px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.features-bot {
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

.card{
    width: 18rem !important;
    background-color: #0D1B2A !important;
    color: #ccc !important;
}

.images{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 3px;
    border-style: solid;
    border-color: #0D1B2A !important;
    background-color: #1B263B;
    
}
.social-media{
  color: #ccc;
}
.get-started{
  display: flex;
  justify-content: center;
}